name: Wails build
on:
  push:
    tags:
      # Match any new tag
      - "*"

permissions: write-all

env:
  # Necessary for most environments as build failure can occur due to OOM issues
  NODE_OPTIONS: "--max-old-space-size=4096"

jobs:
  build:
    strategy:
      # Failure in one platform build won't impact the others
      fail-fast: false
      matrix:
        build:
          - name: "hermes-gui-linux"
            platform: "linux/amd64"
            os: "ubuntu-latest"
            nsis: true
          - name: "hermes-gui.exe"
            platform: "windows/amd64"
            os: "windows-latest"
            nsis: true
          - name: "hermes-gui-darwin"
            platform: "darwin/universal"
            os: "macos-latest"
            nsis: true

    runs-on: ${{ matrix.build.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - run: npm add @solid-primitives/clipboard
      - run: npm add @solid-primitives/transition-group
      - name: Build wails
        uses: dAppServer/wails-build-action@v2.2
        id: build
        with:
          build-name: ${{ matrix.build.name }}
          build-platform: ${{ matrix.build.platform }}
          go-version: "1.22.2"
          nsis: ${{ matrix.build.nsis }}
